/* @omport '' */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", monospace;
  background: linear-gradient(
    145deg,
    #5454d9 0%,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255) 80%,
    #5454d9 100%
  );
  /* background: $dark-purple1; */
  /* background-image: url(../assets/images/login-back.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* ); */
}

.formBtn {
  width: 50px;
  height: 40px;
  margin-top: 25px;
  color: #213d55;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0;
  cursor: pointer;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
  box-shadow: 0px 6px 16px #abdbe3;
  transition: 0.5s ease;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.formBtn:hover {
  background: #213d55;
  color: #fff;
}

/* wrapper style  */
.log-wrapper,
.signup-wrapper {
  width: 400px;
  padding: 12px 24px;
  background: transparent;
  color: #fff;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border: 2px solid rgba(255, 255, 255, 0.397);
  border-radius: 20px;
  transition: 4s ease;
  transform: translate3d(12px);
  /* display: none; */
}
.log-wrapper h1,
.signup-wrapper h1 {
  font-size: 32px;
  text-align: center;
  color: #162938;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 16px;
}
.log-wrapper .input-box,
.signup-wrapper .input-box {
  margin: 6px 0;
  width: 100%;
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e5e5e5bd;
}
.input-box input,
.signup-wrapper input {
  padding: 12px 0;
  width: 90%;
  height: 100%;
  background: transparent;
  color: #4b4f52;
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 30px;
  outline: none;
  border: none;
}
.input-box input::placeholder {
  color: #213d55;
  font-size: 1rem;
}
.input-box i {
  position: absolute;
  left: 20px;
  top: 25%;
  color: #162938;
  font-size: 17px;
  transform: translate(-50%);
}

.log-wrapper .remember-forgot {
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.log-wrapper .remember-forgot label {
  font-size: 1rem;
  margin-right: 1rem;
}
.remember-forgot input {
  accent-color: #abdbe3;
  margin-right: 4px;
}
.remember-forgot a {
  color: #213d55;
  text-decoration: underline;
  font-size: 1rem;
}
.remember-forgot a:hover {
  text-decoration: underline;
  color: #7aa6cb;
}
.log-wrapper .button,
.signup-wrapper .button {
  width: 100%;
  height: 40px;
  margin-top: 25px;
  background: #213d55;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0;
  cursor: pointer;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
  box-shadow: 0px 6px 16px #abdbe3;
}
.log-wrapper .register-link,
.signup-wrapper .signup-link {
  font-size: 10px;
  text-align: center;
  margin-top: 10px 0;
}
.register-link p > button,
.signup-link p > button {
  text-decoration: none;
  font-weight: 600;
  color: #213d55;
  border: none;
  outline: none;
  background: transparent;
}
.register-link p button:hover,
.signup-link p button:hover {
  text-decoration: underline;
}

.message-wrapper {
  width: 400px;
  padding: 12px 24px;
  background: transparent;
  color: #fff;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border: 2px solid rgba(255, 255, 255, 0.397);
  border-radius: 20px;
  /* display: none; */
}
.message-wrapper h2 {
  font-size: 28px;
  text-align: center;
  color: #162938;
  font-family: "Exo 2", sans-serif;
  margin-bottom: 16px;
}
.message-wrapper h2 > span {
  color: #7aa6cb;
}
.message-wrapper p {
  color: #0a3e68;
  padding: 1rem;
  text-align: center;
}
.message-wrapper button {
  width: 100%;
  height: 40px;
  margin-top: 25px;
  background: #213d55;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0;
  cursor: pointer;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
  box-shadow: 0px 6px 16px #abdbe3;
}
.message-wrapper button > i {
  margin-right: 6px;
}

.log-wrapper {
  /* display: none; */
  left: 0;
}
.signup-wrapper {
  /* display: none; */
  left: 100%;
}
.message-wrapper {
  display: none;
}
