* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition: 0.5s linear;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

*::selection {
  background-color: #5454d9;
  color: #fcfcfc;
}

::-webkit-scrollbar {
  height: 0.3rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5454d9;
  border-bottom-left-radius: 2rem;
}

html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(155deg, #5454d9 0%, rgb(255, 255, 255) 5%, rgb(255, 255, 255) 85%, #5454d9 100%);
}

h1,
h2,
h3,
h4,
span {
  font-family: "Exo 2", sans-serif;
}

.btn,
button {
  background-image: linear-gradient(to right, #f7786f 0%, #484aee 51%, #4e6ab9 100%);
  color: #fcfcfc;
  box-shadow: 0px 0px 6px rgb(208, 208, 228);
}

.btn,
button {
  text-align: center;
  transition: all 0.5s ease;
  background-size: 200% auto;
  display: block;
  outline: none;
  border: none;
}

.btn:hover,
button:hover {
  background-position: right center;
  box-shadow: 0px 0px 8px rgb(208, 208, 228);
}

.card {
  background-color: rgb(168, 152, 168);
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
.card-icon {
  font-size: 3.5rem;
  color: #26136d;
  margin-bottom: 1rem;
}
.card-title {
  font-size: 2rem;
  font-weight: 700;
  color: #26136d;
}
.card-text {
  font-size: 1.5rem;
  color: rgb(123, 128, 143);
  line-height: 1.6;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid #484aee;
}

.header {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0 25px;
  position: fixed;
  top: 0;
  border-radius: 0 0 1rem 1rem;
  background-color: #e0e8ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  z-index: 1000;
}

.header-logo {
  color: #26136d;
  font-size: 2.2rem;
  font-weight: bolder;
  font-family: "Exo 2";
  display: inline-block;
}

.header-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 1200px) {
  .header-actions {
    gap: 0;
  }
}
.header-actions a {
  padding: 8px 16px;
  margin: 0 3px;
  border-radius: 1.5rem;
  background: #484aee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  color: #fcfcfc;
}
.header-actions a:hover {
  background-color: rgb(78, 106, 185);
}

.header-navbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  padding: 2rem;
  background-color: rgb(235, 235, 235);
  z-index: 1100;
  transition: right 0.5s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.header-navbar a {
  margin: 0.5rem 0;
  color: #484aee;
}
.header-navbar a:hover {
  text-decoration: underline;
  color: rgb(78, 106, 185);
}
.header-navbar.nav-active {
  right: 0;
  margin: 0;
  padding: 2rem;
}
@media only screen and (max-width: 900px) {
  .header-navbar {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header-navbar {
    padding: 2.5rem 6rem;
    position: static;
    width: auto;
    max-width: auto;
    background: none;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
  }
  .header-navbar a {
    color: #5454d9;
    display: block;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .header-navbar {
    padding: 4rem 15rem;
    font-size: 1.2rem;
  }
}

#menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  color: #26136d;
  background: transparent;
  font-size: 2.2rem;
  cursor: pointer;
  display: block;
}
@media only screen and (min-width: 1200px) {
  #menu-btn {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.274);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 600;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.header {
  z-index: 999;
}

.overlay {
  z-index: 600;
}

.header-navbar {
  z-index: 1000 !important;
}

footer {
  margin: 0;
  margin-top: 2rem;
  background-color: rgb(3, 3, 48);
  color: #5454d9;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
footer h3 {
  margin-bottom: 8px;
  color: #c6d4fa;
  font-size: 1.17rem;
}
footer a {
  display: block;
  margin: 5px 0;
  transition: 0.3s;
  color: #f7f7f7;
  font-size: 0.7rem;
  text-decoration: none;
}
footer a:hover {
  color: #5454d9;
  padding-left: 5px;
}

.footer-contents {
  gap: 30px;
  padding: 30px 10%;
  transition: 0.3s ease;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .footer-contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  }
}
.footer-contents .footer-cards {
  margin: 1rem 0;
  width: 100%;
  padding: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.footer-contents .footer-cards p {
  font-size: 0.6rem;
  color: rgb(123, 128, 143);
  padding: 0;
  margin: 0;
}

.logo {
  color: #fcfcfc;
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: "Exo 2";
}

.footer-links a {
  padding-left: 10px;
  text-decoration: underline;
}

.contact-info h4 {
  color: rgb(123, 128, 143);
  margin: 6px;
  padding-top: 1rem;
}
.contact-info a {
  margin: 3px 1.2rem;
  text-decoration: underline;
}
.contact-info i {
  margin-right: 10px;
}

.socail-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.socail-content .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: nowrap;
  flex-wrap: nowrap;
}
.socail-content a {
  font-size: 1.4rem;
  margin: 0 1rem;
}

#footer-bottom {
  border-top: 2px solid #7f91ec;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: wrap;
  flex-wrap: nowrap;
}

.footer-copyrights {
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
}

.footer-legels a {
  text-decoration: underline;
  font-size: 0.7rem;
  margin: 0;
}

.badge-levelup i {
  margin-right: 10px;
}

.footer-copyrights a {
  color: #5454d9;
  font-size: 0.8rem;
  display: inline-block;
}

.system-container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}

.welcome-msg {
  transition: 0.3s ease;
  color: #190f8e;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #190f8e;
  font-size: 1.8rem;
  font-weight: 600;
}
.welcome-msg span {
  color: #484aee;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.home {
  height: 100vh;
  max-width: 1020px;
  min-width: 350px;
  width: 100%;
  padding-top: 1.5rem;
  padding: 0 20px;
  padding-bottom: 4rem;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.home .columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 0;
  flex-wrap: nowrap;
  /* padding-top: 2rem; */
}
.home .column h2 {
  margin-bottom: 0.5rem;
  color: #190f8e;
  font-size: 1.8rem;
  text-align: left;
}
.home .column h2 span {
  color: #26136d;
}
.home .column .home-links {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
}
.home .column .home-links a {
  width: 180px;
  border-radius: 2rem;
  padding: 8px 10px;
  margin-top: 36px;
  margin-right: 6px;
}
.home .column .home-links a i {
  margin-left: 0.5rem;
}
.home .column img {
  width: 100%;
  height: auto;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .description p {
  color: rgb(78, 106, 185);
  font-size: 0.8rem;
}

section {
  max-width: 114rem;
  min-width: 350px;
  width: 100%;
  border-radius: 1rem;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 600px) {
  section {
    padding: 3rem 1.5rem;
    background-color: lightcoral;
  }
}
@media only screen and (max-width: 900px) {
  section {
    padding: 5rem 2rem;
    background-color: aquamarine;
  }
}
@media only screen and (min-width: 1200px) {
  section {
    background-color: lightsalmon;
  }
}
@media only screen and (min-width: 1400px) {
  section {
    padding: 10rem 0;
    background-color: aqua;
  }
}

.parts {
  padding: 0 1rem;
  margin: 1rem 0;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 114rem;
  min-width: 350px;
  background: transparent;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.parts h2 {
  margin: 0.8rem 0;
  font-size: 1.8rem;
  color: #190f8e;
  font-weight: 700;
  text-align: center;
}

.features,
.teachers {
  border-radius: 0rem;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding-bottom: 1rem;
}

.features-container {
  padding: 0;
  margin: 0 1rem;
  display: grid;
}
@media only screen and (min-width: 1400px) {
  .features-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .features-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .features-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
}
@media only screen and (min-width: 600px) {
  .features-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}
.features-container .features-card {
  background: #fcfcfc;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  box-shadow: 0px 1px 8px #c6d4fa;
}
@media only screen and (min-width: 600px) {
  .features-container .features-card {
    text-align: center;
  }
}
.features-container .features-card img {
  width: 225px;
  height: 200px;
  border-radius: 3rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.features-container .features-card h3 {
  color: #190f8e;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 6px;
}
.features-container .features-card h3 i {
  margin-right: 0.6rem;
}
.features-container .features-card p {
  color: rgb(78, 106, 185);
  text-align: center;
  margin: 0 12px;
  padding: 0;
  font-size: 0.8rem;
}
.features-container .features-card a {
  padding: 10px 18px;
  width: 100%;
  box-shadow: 0px 0px 6px #c3c3ff;
  margin-top: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.classes-container .classes-content {
  width: 100%;
}
.classes-container .classes-content .classes-card {
  background: #fcfcfc;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  box-shadow: 0px 0px 20px #c6d4fa;
  gap: 6px;
}
.classes-container .classes-content .classes-card .classes-column img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}
.classes-container .classes-content .classes-card .classes-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: nowrap;
  flex-wrap: nowrap;
  padding: 0 2rem;
}
.classes-container .classes-content .classes-card .classes-info h3 {
  color: #190f8e;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0px 1px 3px #c3c3ff;
}
.classes-container .classes-content .classes-card .classes-info h4 {
  color: #484aee;
  font-size: 1rem;
  text-align: left;
  margin: 0.8rem 0.3rem;
}
.classes-container .classes-content .classes-card .classes-info p {
  color: rgb(78, 106, 185);
  margin: 0rem 0.3rem;
  text-align: left;
  font-size: 0.8rem;
}
.classes-container .classes-content .classes-card .classes-info p span {
  background: transparent;
  color: #26136d;
  text-decoration: underline;
  margin: 3px;
  border: none;
  box-shadow: none;
}
.classes-container .classes-content .classes-card .classes-info span {
  background-color: #484aee;
  color: #fcfcfc;
  padding: 6px 16px;
  margin: 12px 0;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 3px 6px #c6d4fa;
}

.more-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  gap: 0;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 1rem;
}
.more-btn a {
  border-radius: 2rem;
  padding: 6px 16px;
  width: auto;
  margin: 0 auto;
}

.today-class {
  display: none;
}

.teachers p {
  color: rgb(78, 106, 185);
  padding: 0 1rem;
  margin: 1rem 0;
}
.teachers .teachers-container {
  padding: 0 1rem;
}
.teachers .teachers-container .teacher-card {
  border: 2px solid #c6d4fa;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 15px #c6d4fa;
}
.teachers .teachers-container .teacher-card img {
  width: 100%;
  min-width: 100%;
  height: 100%;
  background-origin: border-box;
  background-attachment: fixed;
  background-clip: border-box;
  background-size: auto;
  background-position: center;
}
.teachers .teachers-container .teacher-card .share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: nowrap;
  flex-wrap: nowrap;
  margin: 1rem;
  padding: 0 1rem;
  width: 100%;
}
.teachers .teachers-container .teacher-card .share a {
  border-radius: 1rem;
  background-color: transparent;
  color: #5454d9;
  padding: 0.5rem;
}
.teachers .teachers-container .teacher-card .share a:hover {
  scale: 1.05;
  transition: 0.3s ease;
}
.teachers .teachers-container .teacher-card .share i {
  font-size: 2rem;
  padding-left: 2rem;
}
.teachers .teachers-container .teacher-card .teacher-info {
  background-color: #c6d4fa;
  display: flex;
  justify-content: center;
  align-items: column;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  margin: 0;
  padding: 1rem 0.5rem;
  border-radius: 0 0 1rem 1rem;
  width: 100%;
}
.teachers .teachers-container .teacher-card .teacher-info h3 {
  text-align: center;
  color: #190f8e;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.teachers .teachers-container .teacher-card .teacher-info h3 span {
  color: #26136d;
}
.teachers .teachers-container .teacher-card .teacher-info .teacher-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  width: 100%;
}
.teachers .teachers-container .teacher-card .teacher-info .teacher-details p {
  color: rgb(123, 128, 143);
  font-size: 0.6rem;
  display: flex;
  align-items: flex-start;
  margin: 0;
}
.teachers .teachers-container .teacher-card .teacher-info .teacher-details p span {
  color: #190f8e;
  margin-left: 1rem;
}

.teachers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  padding: 5rem 0;
}

.teacher-card {
  background-color: #fcfcfc;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.teacher-card__img-box {
  position: relative;
  height: 30rem;
  overflow: hidden;
}
.teacher-card__img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.teacher-card__socails {
  /* position: absolute; */
  /* bottom: -5rem; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* background-color: aquamarine; */
  /* padding: 1rem 0rem; */
  /* border-radius: 5rem; */
  display: flex;
  gap: 0.5rem;
  transition: all 0.4s ease;
  /* opacity: 0; */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  /* margin: 0; */
  padding-top: 1rem;
  margin-right: 1rem;
}
.teacher-card__socails i {
  color: #f7f7f7;
  font-size: 1.4rem;
}
.teacher-card__socails a {
  padding: 5px 8px;
  border-radius: 8px;
  /* width: 33px; */
}
.teacher-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.teacher-card:hover .teacher-card_img-box img {
  transform: scale(1.1);
}
.teacher-card:hover .teacher-card_socails {
  opacity: 1;
}

.info-column {
  margin: 0;
  margin-bottom: 16px;
  height: 100%;
  gap: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.info-column h2 {
  color: #190f8e;
  font-size: 1.8rem;
}
.info-column h2 span {
  color: #484aee;
}
.info-column p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: rgb(123, 128, 143);
  background-color: rgba(127, 145, 236, 0.08);
  border-radius: 0.5rem;
}
.info-column .about-status {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgba(127, 145, 236, 0.08);
  border-radius: 0.5rem;
}
.info-column .about-status .box {
  padding: 6px;
  background-color: #fcfcfc;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 6px rgba(30, 80, 161, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.info-column .about-status .box i {
  font-size: 1.6rem;
  font-weight: 800;
  color: rgb(78, 106, 185);
  text-align: center;
  margin: 0.4rem;
  padding-top: 1rem;
}
.info-column .about-status .box h3 {
  font-weight: 800;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.3rem;
  color: rgb(253, 29, 29);
  font-weight: 800;
  text-align: center;
}
.info-column .about-status .box p {
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.6rem;
  color: rgba(30, 80, 161, 0.5);
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px solid #e0e8ff;
}
.info-column .about-content {
  border-radius: 0.5rem;
}
.info-column .about-content .about-cards {
  margin-bottom: 6px;
}
.info-column .about-content .about-cards .about-card,
.info-column .about-content .about-cards .contact-card {
  background-color: rgba(127, 145, 236, 0.08);
  /* text-align: left; */
}
.info-column .about-content .about-cards .about-card h3,
.info-column .about-content .about-cards .contact-card h3 {
  color: rgb(78, 106, 185);
  /* text-align: center; */
  /* margin-bottom: 5px; */
  margin-left: 2rem;
}
.info-column .about-content .about-cards .about-card p,
.info-column .about-content .about-cards .contact-card p {
  color: rgb(123, 128, 143);
  padding-left: 16px;
  font-size: 0.8rem;
}
.info-column .about-content .result-container {
  background: transparent;
  margin-top: 12px;
  background-color: rgba(127, 145, 236, 0.08);
  border-radius: 0.5rem;
}
.info-column .about-content .result-container canvas {
  margin-top: 16px;
  padding: 1rem;
}
.info-column .about-content .result-container h3 {
  margin: 0.8rem 0;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  border: none;
}
.info-column .about-content .result-container .year-results {
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 30px 0;
  text-align: center;
}
.info-column .about-content .result-container .year-results h2 {
  margin-bottom: 20px;
}
.info-column .contact-content {
  margin-top: 6px;
  border-radius: 0.5rem;
}
.info-column .contact-content .contact-cards {
  margin-bottom: 6px;
}
.info-column .contact-content .contact-cards .contact-card {
  background-color: #fcfcfc;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}
.info-column .contact-content .contact-cards .contact-card h3 {
  /* background-color: white; */
  margin: 0px auto;
  padding: 9px;
  border-radius: 0.5rem;
  color: rgb(78, 106, 185);
}
.info-column .contact-content .contact-cards .contact-card p,
.info-column .contact-content .contact-cards .contact-card a {
  color: rgb(78, 106, 185);
  padding-left: 16px;
  font-size: 0.8rem;
  background-color: #f7f7f7;
  width: 100%;
}
.info-column .contact-content .contact-cards .contact-card i {
  margin-right: 12px;
}

.contact-form {
  border-radius: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  background-color: rgba(127, 145, 236, 0.08);
  padding-top: 2rem;
}
.contact-form form {
  padding: 0.5rem;
  margin: 0;
  width: 100%;
}
.contact-form form legend {
  color: #190f8e;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}
.contact-form form label,
.contact-form form input,
.contact-form form select,
.contact-form form textarea {
  display: block;
  width: 95%;
  color: #5454d9;
  padding: 3px 12px;
  margin: 0;
  background-color: transparent;
  margin-left: 12px;
}
.contact-form form label {
  color: #7f91ec;
  margin: 0 10px;
  padding: 0;
  margin-top: 8px;
}
.contact-form form input,
.contact-form form textarea {
  background-color: rgba(162, 173, 233, 0.08);
  /* margin: 0 6px; */
  margin-left: 12px;
  border-bottom: 2px solid #c3c3ff;
}
.contact-form form input:focus,
.contact-form form textarea:focus {
  border-bottom: none;
  background-color: #c3c3ff;
}
.contact-form form select {
  background-color: rgba(162, 173, 233, 0.08);
  /* margin: 0 6px; */
  margin-left: 12px;
  border-bottom: 2px solid #c3c3ff;
  color: rgb(123, 128, 143);
}
.contact-form form select:focus {
  background-color: #f7f7f7;
}
.contact-form textarea {
  resize: none;
}
.contact-form input[type=submit] {
  width: 200px;
  padding: 6px 16px;
  margin: 6px 3%;
  color: #fcfcfc;
  border-radius: 0.5rem;
}

.contact-msg {
  background-color: #fcfcfc;
  padding: 6px 26px;
  margin: 0;
  border-radius: 1rem;
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  display: none;
}
.contact-msg h3 {
  color: #190f8e;
}
.contact-msg p {
  color: #5454d9;
}

#sidenavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
  overflow: hidden;
  align-content: center;
  height: 100%;
}

#sidenavLinks a {
  position: relative;
  transition: 0.3s ease;
  /* padding: 10px 10px; */
  /* width: 194px; */
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: #f7f7f7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  flex-wrap: nowrap;
}

#sidenavLlinks a::after {
  content: ">>";
  position: absolute;
  right: -22px;
  opacity: 0;
  transition: 0.3s ease;
}

#sidenavLinks a:hover {
  width: 100px;
  border-radius: 1rem;
  right: 0;
  transition: 0.3s ease;
}

#sidenavLinks a:hover::after {
  right: -30px;
  opacity: 1;
}

#facebook {
  top: 0px;
  background: #1877f2;
}

#instagram {
  top: 3px;
  background: #833ab4;
  background: linear-gradient(150deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
}

#whatsapp {
  top: 6px;
  background-color: #5bf099;
}

#call {
  top: 9px;
  background: #2596be;
}

.auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #484aee;
}
.auth-container .auth-box {
  position: absolute;
  width: 100%;
  max-width: 40rem;
  padding: 4rem;
  background-color: #fcfcfc;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: scale(1);
}
.auth-container .auth-box.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
