// @import "queries";

// variables.scss
$background: #21596e;
$background-linear: radial-gradient(
  rgb(0, 47, 100) 0%,
  rgb(3, 69, 155) 19.7%,
  rgb(69, 255, 227) 100.2%
);
$backgrounds: linear-gradient(
  130deg,
  #5454d9 0%,
  rgb(255, 255, 255) 10%,
  rgb(255, 255, 255) 80%,
  #5454d9 100%
);

$skyblue: #00eeff;
$skyblue1: #00b7c4;
$orange: #f7786f;
$yellow: rgba(35, 243, 53, 0.8);

$bg-white: #fcfcfc;
$light-bg: #e9e9e9;

$light-text: #f7f7f7;
$medium-text: #717d85;
$dark-text: #20405a;

$light-blue: #3a4069;
$dark-blue: rgb(0, 0, 63);

$light-black: #112325;
$dark-black: #011315;

$dark-purple1: #484aee;
$dark-purple2: #5454d9;
$dark-purple3: #26136d;
$dark-purple4: #7f91ec;
$dark-purple5: #c6d4fa;
$dark-purple55: rgb(78, 106, 185);
$dark-purple6: #190f8e;
$dark-purple7: #2596be;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  // outline: 2px solid red;
  outline: none;
  transition: 0.5s linear;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html {
  overflow-x: hidden;
}
*::selection {
  // background-color: $dark-purple4;
  color: $bg-white;
}
::-webkit-scrollbar {
  height: 0.3rem;
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $dark-purple2;
  border-bottom-left-radius: 2rem;
}
body {
  background: $backgrounds;
}
a {
  color: $medium-text;
}
h1,
h2,
h3,
h4,
span {
  font-family: "Exo 2";
}

.btn,
button {
  background-image: linear-gradient(
    to left,
    #7f91ec 0%,
    #484aee 51%,
    #c6d4fa 100%
  );
  color: $bg-white;
}
.btn,
button {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
  outline: none;
  border: none;
}

.btn:hover,
button:hover {
  background-position: right center;
}

// header section style
.header {
  margin: 0;
  padding: 0 25px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: $dark-purple5;
  border-radius: 0 0 1rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-logo {
    color: $dark-purple3;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Exo 2";
  }
}

.mob {
  display: flex;
  flex-direction: column;
  place-content: stretch space-evenly;
  position: absolute;
  top: 7rem;
  right: 0rem;
  width: 60%;
  align-content: flex-end;
  align-items: flex-start;
  padding: 6px;
}
.header-actions,
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  i {
    color: #26136d;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  a {
    padding: 5px 16px;
    margin: 0 3px;
    border-radius: 1.5rem;
    background: #484aee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 6px;
    border: 2px solid #00ff14;
    cursor: pointer;
    i {
      font-size: 1rem;
      color: $bg-white;
    }
  }
}

// footer style
footer {
  grid-area: footer;
  margin: 0;
  margin-top: 2rem;
  background-color: $dark-blue;
  color: $dark-purple2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h3 {
    color: $dark-purple5;
    margin-bottom: 17px;
    font-size: 1.3rem;
  }

  a {
    display: block;
    text-decoration: none;
    margin: 5px 0;
    transition: 0.3s;
    color: $light-text;

    &:hover {
      color: $dark-purple4;
      padding-left: 5px;
    }
  }
}
.footer-contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 30px 10%;
  transition: 0.3s ease;
  animation: tobottom 0.3s ease forwards;
  width: 100%;
  .footer-cards {
    margin: 1rem 0;
    width: 100%;
    padding: 0rem;
    p {
      font-size: 0.6rem;
      color: $dark-purple5;
      padding: 0;
      margin: 0;
    }
    q {
      margin-top: 12px;
    }
  }
}
@keyframes tobottom {
  from {
    // transform: translateX(-20px);
    opacity: 0.6;
  }
  to {
    // transform: translateX(0);
    opacity: 1;
  }
}

.logo {
  color: $bg-white;
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: "Exo 2";
}

.footer-links {
  a {
    padding-left: 10px;
    text-decoration: underline;
    font-size: 0.7rem;
  }
}
.footer-contacts a {
  padding-left: 12px;
}

.footer-newsletter {
  // padding: 0.3rem 1rem;
  // margin: 0;
  // width: 100%;
  // height: 150px;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // display: none;
  // background-color: $dark-purple5;

  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 16px;
    margin: 0rem;
    padding: 0.5rem 0.3rem;

    input[type="email"] {
      width: 100%;
      padding: 8px;
      /* margin-top: 8px; */
      border: none;
      border-radius: 20rem;
      display: block;
      color: #c3c3ff;

      &:focus {
        color: $dark-purple4;
        border: 2px solid $dark-purple1;
        border-radius: 0.9rem;
      }
    }
    input[type="submit"] {
      /* box-shadow: none; */
      /* display: block; */
      margin: 0;
      margin-left: 0.5rem;
      border-radius: 1rem;
      cursor: pointer;
      background: #5454d9;
      box-shadow: 0px 0px 6px #5454d9;
      padding: 6px 12px;
    }
  }
  .news p {
    padding: 3px 6px;
    margin-top: 0;
    color: $dark-purple1;
    display: none;
  }
}
.footer-bottom {
  border-top: 2px solid $dark-purple4;
  margin-bottom: 6px;
}
.footer-credits,
.footer-copyrights {
  color: $bg-white;
  display: flex;
  flex-direction: column;
}
.footer-legels {
  a {
    text-decoration: underline;
    font-size: 0.7rem;
  }
}
.socail-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  a {
    font-size: 1.4rem;
    margin: 0 0.5rem;
  }

  // }
  // }
}
.footer-copyrights {
  a {
    color: $dark-purple4;
    font-size: 0.8rem;
  }
}
