// @import "queries";

// for the headers & footers style

// @import "variables";

.btn,
button {
  background-image: linear-gradient(
    to left,
    #7f91ec 0%,
    #484aee 51%,
    #c6d4fa 100%
  );
  color: $bg-white;
}
.btn,
button {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
  outline: none;
  border: none;
}

.btn:hover,
button:hover {
  background-position: right center;
}

// full system conatiner div style
.system-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
// main part div style
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  @mixin mobile {
    @media screen {
      .home {
        padding: 3rem 0;
      }
    }
  }
}

.welcome-msg {
  transition: 0.3s ease-in;
  color: #26136d;
  font-weight: 600;
  margin-left: 6px;
  margin-bottom: 1.5rem;

  color: $dark-purple3;
  font-size: 1.7rem;
  font-weight: 600;

  span {
    color: $dark-purple1;
    font-size: 1.8rem;
    font-weight: normal;
    margin-left: 5px;
  }
}

// // home div style
.home {
  grid-area: home;
  height: 100vh;
  max-width: 1020px;
  min-width: 450px;
  width: 100%;
  padding-top: 1rem;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .columns {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 0.3rem;
  }
  .column {
    h2 {
      margin-bottom: 0.5rem;
      color: $dark-purple6;
      font-size: 2rem;
      text-align: center;

      span {
        color: $dark-purple4;
      }
    }
    .home-links {
      display: flex;
      align-items: center;
      /* position: absolute; */
      // bottom: 10px;
      // left: 0;
      padding: 0;
      margin: 30px;
      flex-direction: row;

      a {
        width: 170px;
        border-radius: 2rem;
        margin: 0 auto;
        padding: 8px 10px;
        margin-top: 36px;
        i {
          margin-left: 0.5rem;
        }
      }
    }
    img {
      width: 100%;
      height: auto;
      margin: 1rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .description {
    p {
      color: $dark-purple55;
      text-align: center;
      font-size: 0.7rem;
    }
  }
}

section {
  max-width: 1020px;
  min-width: 350px;
  width: 100%;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parts {
  padding: 0 1rem;
  margin: 1rem 0;
  margin-bottom: 1rem;
  width: 100%;
  // height: 100vh;
  max-width: 1200px;
  min-width: 350px;
  background: transparent;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0.8rem 0;
    font-size: 2rem;
    color: $dark-purple3;
    font-weight: bold;
    text-align: center;
  }
}

.features,
.teachers {
  background-color: #7f91ec1f;
  border-radius: 0;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding-bottom: 1rem;
}

.features-container {
  padding: 0rem;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.6rem;

  .features-card {
    background: $bg-white;
    // padding: 0rem 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: cardBottom 0.6s ease-in forwards;
    box-shadow: 0px 1px 8px $dark-purple5;
    img {
      width: 225px;
      height: 200px;
      border-radius: 3rem;
      margin: 0;
      margin-bottom: 0.5rem;
    }

    h3 {
      color: $dark-purple3;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 6px;

      i {
        margin-right: 0.6rem;
      }
    }
    p {
      color: rgb(78, 106, 185);
      text-align: center;
      margin: 0 12px;
      padding: 0;
      font-size: 0.7rem;
    }
    a {
      border-radius: 2rem;
      padding: 6px 18px;
      margin: 0.5rem 0rem;
      width: 70%;
      box-shadow: 0px 0px 6px #c3c3ff;
    }
  }
}
@keyframes cardBottom {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.features-cardadd:nth-child(1) {
  transform: rotateX(0deg) rotateY(20deg) rotateZ(355deg);
}

#result-check a {
  cursor: not-allowed;
}

// cources container
.classes-container {
  .classes-content {
    width: 100%;
    // padding: 0 1rem;

    .classes-card {
      background: #fcfcfc;
      padding: 0rem;
      margin: 0rem;
      margin-bottom: 2rem;
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      animation: cardBottom 1.6s ease-in forwards;
      box-shadow: 0px 0px 20px #c6d4fa;
      gap: 6px;

      .classes-column img {
        max-width: 100%;
        // width: 250px;
        height: auto;
        border-radius: 1rem 1rem 0 0;
        // box-shadow: 0px 3px 6px $dark-purple5;
      }
      .classes-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 0 2rem;

        h3 {
          color: $dark-purple3;
          font-size: 1.5rem;
          text-align: center;
          // text-decoration: underline;
          text-shadow: 0px 1px 3px $dark-purple4;
        }
        h4 {
          color: $dark-purple1;
          font-size: 1rem;
          text-align: left;
          margin: 0.8rem 0.3rem;
        }
        p {
          color: $dark-purple55;
          margin: 0rem 0.3rem;
          text-align: left;
          font-size: 0.9rem;

          span {
            background: transparent;
            color: $dark-purple4;
            text-decoration: underline;
            margin: 3px;
            // padding: 0;
            // margin: 0;
            border: none;
            box-shadow: none;
          }
        }
        span {
          background-color: $dark-purple1;
          color: $bg-white;
          padding: 6px 16px;
          margin: 12px 0;
          border-radius: 16px;
          text-align: center;
          box-shadow: 0px 3px 6px $dark-purple5;
        }
      }
    }
  }
}

.more-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 1rem;
  // float: right;

  a {
    border-radius: 2rem;
    padding: 6px 16px;
    width: auto;
    margin: 0 auto;
  }
}
.today-class {
  display: none;
}

// teacher style
.teachers {
  p {
    color: $dark-purple55;
    padding: 0 1rem;
    margin: 1rem 0;
  }

  .teachers-container {
    padding: 0 1rem;

    .teacher-card {
      border: 2px solid #c6d4fa;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1rem;
      border-radius: 16px;
      box-shadow: 0px 4px 15px $dark-purple5;

      &:nth-child(1) {
        &:hover {
          transform: translateY(-6px);
        }
      }
      &:nth-child(2) {
        &:hover {
          transform: scale(1.05);
        }
      }
      &:nth-child(3) {
        &:hover {
          transform: translateY(6px);
        }
      }

      .card-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
        /* margin: 0 1rem; */
        /* padding: 0 0rem; */
        justify-items: end;
        img {
          width: 200px;
          height: 200px;
          background-origin: border-box;
          background-attachment: fixed;
          background-clip: border-box;
          background-size: auto;
          background-position: center;
          border-radius: 50%;
          margin: 12px 0;

          &:hover {
            box-shadow: 0px 3px 6px $dark-purple4;
          }
        }

        .share {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1rem;
          padding: 0 1rem;
          flex-wrap: nowrap;
          justify-content: space-around;
          width: 100%;
          a {
            border-radius: 1rem;
            background-color: transparent;
            color: $dark-purple2;
            padding: 0.5rem;
            &:hover {
              scale: 1.05;
              transition: 0.3s ease;
            }
          }
          i {
            font-size: 2rem;
            padding-left: 2rem;
          }
          // a {
          //   display: inline-block;
          //   width: 80%;
          //   margin: 0.5rem 0;
          //   border-radius: 0.6rem;
          //   font-size: 1.3rem;
          //   transition: border 0.1s ease;
          // }
        }
      }

      .teacher-info {
        background-color: $dark-purple5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: flex-start;
        margin: 0;
        padding: 1rem 0.5rem;
        // margin-bottom: 2px;
        border-radius: 0 0 1rem 1rem;
        width: 100%;

        h3 {
          text-align: center;
          color: $dark-purple3;
          font-size: 1.5rem;
          margin-bottom: 0.5rem;

          span {
            color: $dark-purple4;
          }
        }
        .teacher-details {
          width: 100%;
          p {
            color: $dark-purple4;
            font-size: 0.7rem;
            display: flex;
            // justify-content: space-between;
            align-items: flex-start;
            margin: 0;
            // border-bottom: 2px solid $dark-purple4;

            span {
              color: $dark-purple3;
            }
          }
          .notes {
            display: block;
            text-align: center;
            margin: 3px 0;
          }
          // p:nth-last-child() {
          //   border: none;
          // }
        }
      }
    }
  }
}

.info-column {
  margin: 0;
  margin-bottom: 16px;
  box-shadow: 0px 0px 6px #b1b9e5;
  border-radius: 1rem;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h2 {
    color: $dark-purple3;
    font-size: 1.5rem;

    span {
      color: $dark-purple1;
    }
  }
  p {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 1rem;
    text-wrap: auto;
    text-align: center;
  }

  .about-content {
    padding: 1rem 0rem;
    margin-top: 6px;
    border-radius: 6px;
  }
  .about-content {
    .about-cards {
      margin-bottom: 6px;
      .about-card,
      .contact-card {
        background-color: rgba(127, 145, 236, 0.08);
        margin: 6px 0;
        padding: 6px;
        border-radius: 6px;
        /* text-align: left; */
        color: #190f8e;

        h3 {
          color: $dark-purple1;
          text-align: center;
          margin-bottom: 5px;
        }
        p {
          color: $light-black;
          padding-left: 6px;
          font-size: 0.8rem;
        }
      }
    }
    .about-status {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 6px;
      margin-top: 12px;
      background-color: #c6d4fa;
      padding: 1rem;
      border-radius: 6px;
      .box {
        padding: 6px;
        background-color: $bg-white;
        border-radius: 0.5rem;
        box-shadow: 0px 3px 6px $dark-purple4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        align-items: center;

        i {
          font-size: 1.2rem;
          font-weight: bolder;
          animation: iconLeft 1s ease-in forwards;
          color: $dark-purple4;
          text-align: center;
        }
        h3 {
          font-size: 1.4rem;
          margin: 0.5rem;
          color: $dark-purple3;
          font-weight: bolder;
          animation: numPop 1s ease-in forwards;
          text-align: center;
        }

        p {
          font-size: 0.8rem;
          color: $dark-purple4;
          font-weight: 600;
          margin: 0;
          padding: 0;
          text-align: center;
          animation: bottomText 1s ease-in forwards;
          border-top: 2px solid $dark-purple4;
        }
      }

      @keyframes iconLeft {
        from {
          opacity: 0;
          transform: translateX(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }
      @keyframes numPop {
        from {
          opacity: 0.2;
          transform: translateY(-25px) rotate(-120deg) scale(0);
        }
        to {
          opacity: 1;
          transform: translateY(0) rotate(0) scale(1);
        }
      }
      @keyframes bottomText {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
    .result-container {
      background: transparent;
      margin-top: 12px;
      border-top: 2px solid $dark-purple1;

      canvas {
        margin-top: 16px;
        padding: 0.5rem;
      }

      h3 {
        margin: 0.8rem 0;
        font-size: 1.2rem;
        // color: $skyblue1;
        font-weight: bold;
        text-align: center;
        border: none;
      }

      .year-results {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // gap: 0.8rem;
        // margin: 0.5rem 1rem;
        padding: 0.5rem;
        border-radius: 15px;
        margin: 30px 0;
        text-align: center;

        h2 {
          margin-bottom: 20px;
        }
      }
    }
  }

  .contact-content {
    // padding: 0.5rem 0rem;
    margin-top: 6px;
    border-radius: 6px;
  }
  .contact-content {
    .contact-cards {
      margin-bottom: 6px;
      .contact-card {
        background-color: white;
        margin: 6px;
        padding: 6px;
        border-radius: 6px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        // display: none;

        h3 {
          /* background-color: white; */
          margin: 0px auto;
          padding: 9px;
          border-radius: 6px;
          /* display: flex; */
          /* align-items: flex-start; */
          flex-direction: column;
          /* text-align: center; */
          color: rgb(78, 106, 185);
        }
        p,
        a {
          color: rgb(78, 106, 185);
          padding-left: 16px;
          font-size: 0.8rem;
          background-color: aliceblue;
          width: 100%;
        }
        i {
          margin-right: 12px;
        }
      }
    }
    // .about-status {
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   gap: 6px;
    //   margin-top: 12px;
    //   .box {
    //     padding: 6px;
    //     background-color: $bg-white;
    //     border-radius: 0.5rem;
    //     box-shadow: 0px 3px 6px $dark-purple4;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-between;
    //     align-items: center;

    //     i {
    //       font-size: 1.2rem;
    //       font-weight: bolder;
    //       animation: iconLeft 1s ease-in forwards;
    //       color: $dark-purple4;
    //       text-align: center;
    //     }
    //     h3 {
    //       font-size: 1.4rem;
    //       margin: 0.5rem;
    //       color: $dark-purple3;
    //       font-weight: bolder;
    //       animation: numPop 1s ease-in forwards;
    //       text-align: center;
    //     }

    //     p {
    //       font-size: 0.8rem;
    //       color: $dark-purple4;
    //       font-weight: 600;
    //       margin: 0;
    //       padding: 0;
    //       text-align: center;
    //       animation: bottomText 1s ease-in forwards;
    //       border-top: 2px solid $dark-purple4;
    //     }
    //   }
  }
}

// .contact-content {
//   padding: 0;
//   margin: 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   .contact-info {
//     padding: 0;

//     .class-contact {
//       padding: 0;
//       padding-top: 6px;
//       margin: 1rem 0;
//       background: $bg-white;
//       box-shadow: 0px 1px 6px $dark-purple4;
//       border-radius: 1rem;
//       display: none;

//       h3 {
//         color: $dark-purple2;
//         margin-bottom: 5px;
//         font-size: 1.5rem;
//         text-align: center;
//       }
//       iframe {
//         padding: 0 1%;
//         margin: 0.5rem 0;
//         border-radius: 1rem;
//         height: auto;
//         width: 50%;
//       }
//     }
//   }
//   .contact-numbers {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//     margin: 0;
//     gap: 0.5rem;

//     p {
//       color: $dark-purple3;
//       border-radius: 3px;
//       margin: 0.5rem;
//       box-shadow: 0px 1px 6px $dark-purple4;
//       background-color: $bg-white;
//       padding: 6px 16px;
//       text-align: center;
//       font-weight: 600;
//     }
//     a {
//       padding: 6px 12px;
//       margin: 6px 0;
//       color: $bg-white;
//       background-color: $dark-purple4;
//       text-decoration: underline;
//       text-align: center;
//       display: block;
//       border-radius: 3px;

//       &:hover {
//         background-color: $dark-purple1;
//         color: $bg-white;
//         text-decoration: underline;
//       }
//     }
//   }
.contact-form {
  padding: 0 0rem;
  margin: 1rem 0;
  border-radius: 6px;

  form {
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    border-top: 2px solid #c6d4fa;

    legend {
      color: $dark-purple3;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 600;
    }
    label,
    input,
    select,
    textarea {
      display: block;
      width: 95%;
      color: $dark-purple1;
      padding: 3px 12px;
      margin: 0;
      border-radius: 6px;
      background-color: transparent;
    }
    label {
      color: #7f91ec;
      margin: 0 10px;
      padding: 0;
      margin-top: 8px;
    }
    input,
    textarea,
    select {
      background-color: rgb(127 145 236 / 8%);
      /* margin: 0 6px; */
      margin-left: 12px;
      border-bottom: 2px solid #c3c3ff;
      border-radius: 3px;

      &:focus {
        border-bottom: none;
        border-radius: 6px;
        background-color: $dark-purple4;
      }
    }
  }
  textarea {
    resize: none;
  }
  input[type="submit"] {
    width: 200px;
    padding: 6px 16px;
    margin: 6px 3%;
    color: $bg-white;
    border-radius: 6px;
  }
}
// }
.contact-msg {
  background-color: $bg-white;
  padding: 6px 26px;
  margin: 0;
  border-radius: 1rem;
  position: relative;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

  h3 {
    color: $dark-purple3;
  }
  p {
    color: $dark-purple2;
  }
}

#sidenavLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // background-color: #40d1db;
  align-content: center;
  height: 100%;
}

// Facebook: Primarily uses white or light grey for feeds, with a signature blue (

// ) for accents.
// Instagram: Backgrounds often feature white, light grey, or dark mode black, frequently with colorful gradients (

// ,

// ,

// ) in creative content.
// WhatsApp: Known for its light green/white theme for chats, or dark green/black for dark mode.
// Facebook: Primary color is Azure Radiance (#1877F2), often paired with white for text/logos and Athens Gray (#F0F2F5) for backgrounds.
// WhatsApp: Primary brand color is Teal Green Dark (#075E54).
// Instagram: The gradient logo consists of shades of purple, dark pink, red, orange, and yellow. Key colors include Royal Blue (#405DE6) and varying shades from #ffdf9e to #c1558b.
#sidenavLinks a {
  position: relative;
  /* right: -55px; */
  transition: 0.3s;
  padding: 10px 10px;
  /* width: 194px; */
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
#sidenavLlinks a::after {
  content: ">>";
  position: absolute;
  right: -22px;
  opacity: 0;
  transition: 0.3s;
}
#sidenavLinks a:hover {
  width: 100px;
  border-radius: 12px;
  right: 0;
}
#sidenavLinks a:hover::after {
  right: -30px;
  opacity: 1;
}
#facebook {
  top: 0px;
  background-color: #1877f2;
}
#instagram {
  top: 3px;
  background-color: orangered;
  background: #833ab4;
  background: linear-gradient(
    150deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
#whatsapp {
  top: 6px;
  background-color: #5bf099;
}
#call {
  top: 9px;
  background-color: rgb(49, 190, 233);
}

// // @mixin flex-sb-center {
// //   display: flex;
// //   justify-content: space-between;
// //   align-items: center;
// // }

// //  i {
// //       font-size: 1rem;
// //     }
// @mixin flex-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// // .header {
// //   @include flex-center;
// //   height: 60px;
// //   background-color: $background;
// // }

// }
// }
// media queries styles

@media screen and (min-width: 450px) {
  section {
    padding: 1rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .home {
    .columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  .home-links {
    margin: 30px 0;
  }
  .home .column .home-links a {
    margin-right: 16px;
  }
  .welcome-msg {
    margin-left: 0;
  }
  .home .column img {
    width: auto;
  }

  .header-navbar {
    display: flex;
    a {
      color: $bg-white;
      margin-left: 2rem;
      font-size: 1.1rem;
      font-weight: 1.5rem;
      display: flex;
      text-decoration: none;
      &:hover {
        color: $dark-purple4;
        transition: 0.3s ease;
        text-decoration: underline;
      }
    }
  }
  .header-menu {
    display: none;
  }
  .system-container {
    display: grid;
  }
  .teachers-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;

    .teacher-card {
      gap: 0.3rem;
    }
  }
  .features {
    background-color: transparent;
  }

  .features-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .weekly-schedule,
  .today-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    display: none;

    .class-schedule {
      padding: 0;
      margin: 1rem 0;
    }
    .class-info span {
      display: block;
    }
  }
  .classes-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .classes-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .teachers .teachers-container .teacher-card .card-column img {
    width: 185px;
    height: 185px;
  }
  #sidenavLinks a {
    position: relative;
    right: -80px;
    transition: 0.3s;
    padding: 12px 12px;
    width: 120px;
    text-decoration: none;
    /* font-size: 13px; */
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* z-index: 9999; */
    font-size: 0.7rem;

    i {
      margin-right: 8px;
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .footer-contents {
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: flex-start;
    // padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px 1fr));
    gap: 30px;
    padding: 40px 10%;
  }
  .socail-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .footer-credits,
  .footer-copyright {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 1rem;
  }
  .about-status {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 0.3rem;

    .contact-numbers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .today-cards {
    .today-card {
      p {
        // span {
        display: inline;
        // }
      }
    }
  }
}
// }
