// reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition: 0.5s linear;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

// other styles
*::selection {
  background-color: $dark-purple2;
  color: $bg-white;
}
::-webkit-scrollbar {
  height: 0.3rem;
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $dark-purple2;
  border-bottom-left-radius: 2rem;
}
html {
  overflow-x: hidden;
}

// background color
body {
  background: $bg-white;
}

// font-families
h1,
h2,
h3,
h4,
span {
  font-family: $font-secondary;
}

// input number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  // -moz-appearance: textfield;
}
