@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/reset";
@import "../base/typography";
@import "../components/cards";
@import "../components/buttons";

.auth-container {
  position: relative;
  @include center-everything;
  min-height: 100vh;
  background-color: $dark-purple1;

  .auth-box {
    position: absolute;
    width: 100%;
    max-width: 40rem;
    padding: 4rem;
    background-color: $bg-white;
    border-radius: $border-radius-medium;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    opacity: $opacity-none;
    visibility: hidden;
    // transition: all $transition-slow;
    transform: scale(1);

    &.active {
      opacity: $opacity-high;
      visibility: visible;
      transform: scale(1);
      z-index: 10;
    }
  }
}
