// header style
.header {
  width: 100%;
  height: 80px;
  margin: $margin-none;
  padding: 0 25px;
  position: fixed;
  top: 0;
  border-radius: 0 0 1rem 1rem;
  background-color: $bg-light;
  @include flex-custom(space-between, center, row);
  z-index: 1000;
}

// header-log (brand name)
.header-logo {
  color: $dark-purple;
  font-size: 2.2rem;
  font-weight: bolder;
  font-family: "Exo 2";
  display: inline-block;
}

// header icons and links style
.header-actions {
  @include flex-custom(center, center, row, 0.5rem);

  @include respond(desktop) {
    gap: 0;
  }
  a {
    padding: 8px 16px;
    margin: 0 3px;
    border-radius: 1.5rem;
    background: $dark-purple1;
    @include flex-custom(space-between, center, row);
    color: $bg-white;

    &:hover {
      background-color: $blue-medium;
    }
  }
}

// header navbar style
.header-navbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  padding: 2rem;
  background-color: $navbar-white;
  z-index: 1100;
  transition: right 0.5s ease-in-out;
  @include flex-custom(flex-start, flex-start, column, 0, nowrap);

  a {
    margin: 0.5rem 0;
    color: $dark-purple1;

    &:hover {
      text-decoration: underline;
      color: $blue-medium;
    }
  }
  &.nav-active {
    right: 0;
    margin: 0;
    padding: 2rem;
  }

  @include respond(tablet) {
    padding: 2rem 4rem;
  }

  @include respond(desktop) {
    padding: 2.5rem 6rem;
    position: static;
    width: auto;
    max-width: auto;
    background: none;
    white-space: nowrap;
    @include flex-custom(center, center, row, 2rem);

    a {
      color: $dark-purple2;
      display: block;
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
    }
  }

  @include respond(large-desktop) {
    padding: 4rem 15rem;
    font-size: 1.2rem;
  }
}

// menu btn
#menu-btn {
  @include flex-custom(center, center);
  margin: $margin-none;
  padding: $padding-none;
  width: 30px;
  height: 30px;
  color: #26136d;
  background: transparent;
  font-size: 2.2rem;
  cursor: pointer;
  display: block;

  @include respond(desktop) {
    display: none;
  }
}

// overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.274);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 600;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}

// index - important
.header {
  z-index: 999;
}
.overlay {
  z-index: 600;
}
.header-navbar {
  z-index: 1000 !important;
}
